<%
  title 'Sign Up: Sign up to join movie pulse'
%>
<style type="text/css">
body { 
    background-image: url('https://s3-ap-southeast-2.amazonaws.com/moviepulse/background/background.jpg'); 
    background-repeat: no-repeat;
} 
</style>
<div class="row-fluid">
<div class="span6">
  <h3 align="center">Sign up</h3>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>                                                    
  <%= devise_error_messages! %>

<table align="center">
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email, :autofocus => true %></td>
  </tr>
  <tr>
    <td><%= f.label :username %></td>
    <td><%= f.text_field :username %></td>
  </tr>
  <% if f.object.password_required? %>
  <tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password %></td>
  </tr>
    <tr>
    <td><%= f.label :password_confirmation %></td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td><%= f.label :age %></td>
    <td><%= f.select(:age, (18..99).to_a) %></td>
  </tr>
  <tr>
    <td><%= f.label :sex %></td>
    <td><%= f.select :sex,['male','female'] %></td>
  </tr>
  <tr>
    <td><%= f.label :city %></td>
    <td><%= f.text_field :city %></td>
  </tr>
  <tr>
    <td><%= f.label :country %></td>
    <td><%= f.country_select :country,["Australia","New Zealand"] %></td>
  </tr>
  <% end %>
  <tr>
    <td><%= f.submit "Sign up",:class => "btn btn-large btn-primary" %></td>
  </tr>
</table>
<% end %>
<table align="center">
    <tr>
    <td><%= render "devise/shared/links" %></td>
  </tr>
</table>
</div>
<div class="span6">
  <table>
    <tr>
      <td>
        <b>Why do I have to provide my age,city and country during registration?</b>
      </td>
      </tr>
      <tr>
      <td>  
        Providing these will help us in understanding the movie watching trends and will reflect in the leaderboard.The idea of the site is built around it.
      </td>
    </tr>
  </table>
</div>
</div>
