<div class="span12">

<div class="span12">
<div class="span6">
<table>
<tr><th>Top Rated Now Running</th></tr>
<%= paginate @movies %>
<table class="table table-condensed">
	<% cache('top_rated_now_running') do %>		
	<tr>
	  <% @movies.each do |post| %>
	  		<td><%= image_tag post.thumb_url %>
	        <%= link_to "#{post.name}", post %></td>
	  <% end %>
	 </tr>
	  <% end %>
</table>
</table>
</div>

<div class="span6">
<table>
<tr><th>Top Rated by Men</th></tr>
<table class="table table-condensed">
	<% cache('top_rated_men') do %>				
<tr>
	  <% @movies_men.each do |post| %>
	  		<td><%= image_tag post.thumb_url %>
	  		<%= link_to "#{post.name}", post %></td>
	  <% end %>
</tr>	  
	  <% end %>
</table>	  
</table>
</div>
</div>

<div class="span12">
<div class="span6">
<table>
<tr><th>Top Rated by Women</th></tr>
<table class="table table-condensed">
	 <% cache('top_rated_women') do %>				
	  <tr>
	  <% @movies_women.each do |post| %>
	  		<td><%= image_tag post.thumb_url %>
	        <%= link_to "#{post.name}", post %></td>
	  <% end %>
	  </tr>
	  <% end %>
</table>
</table>
</div>


<div class="span6">
<table>
<tr><th>Currently talked about</th></tr>
<table class="table table-condensed">
	<% cache('currently_talked_about') do %>				
	<tr>
	  <% @current_movies.each do |post| %>
	  		<td><%= image_tag post.thumb_url %>
	        <%= link_to "#{post.name}", post %></td>
	  <% end %>
	</tr>  
	  <% end %>
</table>
</table>
</div>
</div>

<div class="span12">
<div class="span6">
<table>
<tr><th>Dampsquibs</th></tr>
<table class="table table-condensed">
	<% cache('dampsquibs') do %>		
	<tr>  
	  <% @movies_dampsquibs.each do |post| %>
	      
	  		<td><%= image_tag post.thumb_url %>
	        <%= link_to "#{post.name}", post %></td>
	      
	  <% end %>
	</tr>  
	  <% end %>
</table>
</table>
</div>

<div class="span6">
<table>
<tr><th>Top Rated Young Adults</th></tr>
<table class="table table-condensed">
	<% cache('top_rated_youth') do %>		
	<tr>  
	  <% @movies_youth.each do |post| %>
	     
	  		<td><%= image_tag post.thumb_url %>
	        <%= link_to "#{post.name}", post %></td>
	     
	  <% end %>
	</tr>  
	  <% end %> 
</table>
</table>
</div>
</div>

<div class="span12">
<div class="span6">
<table>
<tr><th>Now Playing</th></tr>
<table class="table table-condensed">
	<% cache('now_playing') do %>			
	<% @movies_now_playing.each do |post| %>
	      <tr>
	        <td><%= link_to "#{post[:name]}", controller: "movies", action: "create_from_tmdb", id: post[:tmdb_id] %></td>
	      </tr>
	  <% end %>
	  <% end %>
</table>
</table>
</div>
</div>

</div>