<%
  title 'Dashboard: What Australia is watching'
%>

<div class="span12">

<div class="span12">
<div class="row-fluid">
<div class="span6">
<table>
<tr><th>Now Playing Australia</th></tr>
<table class="table table-condensed">
	<% cache('now_playing_au',:expires_in => 6.hour) do %>			
	<% @movies_now_playing_au.each do |post| %>
	      <tr>
	        <td><%= link_to "#{post[:name]}", controller: "movies", action: "create_from_tmdb", id: post[:tmdb_id] %></td>
	      </tr>
	  <% end %>
	  <% end %>
</table>
</table>
</div>

<div class="span6">
<table>
<tr><th>Now Playing Worldwide</th></tr>
<table class="table table-condensed">
	<% cache('now_playing',:expires_in => 6.hour) do %>			
	<% @movies_now_playing.each do |post| %>
	      <tr>
	        <td><%= link_to "#{post[:name]}", controller: "movies", action: "create_from_tmdb", id: post[:tmdb_id] %></td>
	      </tr>
	  <% end %>
	  <% end %>
</table>
</table>
</div>
</div>
</div>
	

<div class="span12">
<div class="span6">
<table>
<tr><th>Top Rated Now Running</th></tr>
<% cache('top_rated_now_running',:expires_in => 6.hour) do %>				
<!--%= paginate @movies %-->
	<table class="table table-condensed">
	<tr>		
	  <% @movies.each do |post| %>
	  	<% if post.thumb_url.empty? %>
	  	<td><%= link_to "#{post.name}", post %></td>
	  	<% else %>	
	  	<td><%= link_to image_tag(post.thumb_url), post %></td>
	  	<% end %>
	  <% end %>
	 </tr> 
	</table>      
	 <% end %>
</table>
</div>

<div class="span6">
<table>
<tr><th>Top Rated by Men</th></tr>

	<% cache('top_rated_men',:expires_in => 6.hour) do %>				
	<table class="table table-condensed">
	<tr>		
	  <% @movies_men.each do |post| %>
	  	<td><%= link_to image_tag(post.thumb_url), post %></td>
	  <% end %>
	 </tr> 
	 
	</table>      
	  <% end %>

</table>
</div>
</div>

<div class="span12">
<div class="span6">
<table>
<tr><th>Top Rated by Women</th></tr>

	 <% cache('top_rated_women',:expires_in => 6.hour) do %>				
	<table class="table table-condensed">
	<tr>		
	  <% @movies_women.each do |post| %>
	  	<td><%= link_to image_tag(post.thumb_url), post %></td>
	  <% end %>
	 </tr> 
	</table>      
	<% end %>
</table>
</div>


<div class="span6">
<table>
<tr><th>Currently talked about</th></tr>

	<% cache('currently_talked_about',:expires_in => 10.minutes) do %>				
	<table class="table table-condensed">
	<tr>		
	  <% @current_movies.each do |post| %>
	  	<td><%= link_to image_tag(post.thumb_url), post %></td>
	  <% end %>
	 </tr> 
	
	</table>      
	 <% end %>  

</table>
</div>
</div>

<div class="span12">
<div class="span6">
<table>
<tr><th>Dampsquibs</th></tr>

	<% cache('dampsquibs',:expires_in => 6.hour) do %>		
	<table class="table table-condensed">
	<tr>		
	  <% @movies_dampsquibs.each do |post| %>
	  	<td><%= link_to image_tag(post.thumb_url), post %></td>
	  <% end %>
	 </tr> 
	
	</table>      
	 <% end %>  

</table>
</div>

<div class="span6">
<table>
<tr><th>Top Rated Young Adults</th></tr>

	<% cache('top_rated_youth',:expires_in => 6.hour) do %>		
	<table class="table table-condensed">
	<tr>		
	  <% @movies_youth.each do |post| %>
	  	<td><%= link_to image_tag(post.thumb_url), post %></td>
	  <% end %>
	 </tr> 
	
	</table>      
	 <% end %>

</table>
</div>
</div>


<div class="span12">
<div class="row-fluid">	
<div class="span6">
<table>
<tr><th>Upcoming Movies Worldwide</th></tr>
<table class="table table-condensed">
	<% cache('movies_upcoming',:expires_in => 6.hour) do %>			
	<% @movies_upcoming.each do |post| %>
	      <tr>
	        <td><%= link_to "#{post[:name]}", controller: "movies", action: "create_from_tmdb", id: post[:tmdb_id] %></td>
	      </tr>
	  <% end %>
	  <% end %>
</table>
</table>
</div>

<div class="span6">
<table>
<tr><th>Popular</th></tr>
<table class="table table-condensed">
	<% cache('movies_popular',:expires_in => 6.hour) do %>			
	<% @movies_popular.each do |post| %>
	      <tr>
	        <td><%= link_to "#{post[:name]}", controller: "movies", action: "create_from_tmdb", id: post[:tmdb_id] %></td>
	      </tr>
	  <% end %>
	  <% end %>
</table>
</table>
</div>
</div>
</div>

</div>
</div>