<div class="span2">
<table>
<tr><th>Top Rated Now Running</th></tr>
<%= paginate @movies %>
<table class="table table-bordered table-condensed table-striped">	
	  <% @movies.each do |post| %>
	  	<tr>
	        <td><%= link_to "#{post.name}", post %></td>
	    </tr>
	  <% end %>
</table>
</table>
</div>

<div class="span2">
<table>
<tr><th>Top Rated by Men</th></tr>
<table class="table table-bordered table-condensed table-striped">	
	  <% @movies_men.each do |post| %>
	  	<tr>
	        <td><%= link_to "#{post.name}", post %></td>
	    </tr>
	  <% end %>
</table>	  
</table>
</div>

<div class="span2">
<table>
<tr><th>Top Rated by Women</th></tr>
<table class="table table-bordered table-condensed table-striped">	
	  <% @movies_women.each do |post| %>
	  	<tr>
	        <td><%= link_to "#{post.name}", post %></td>
	    </tr>
	  <% end %>
</table>
</table>
</div>

<div class="span2">
<table>
<tr><th>Top Rated by Youth</th></tr>
<table class="table table-bordered table-condensed table-striped">	
	<% @movies_youth.each do |post| %>
	      <tr>
	        <td><%= link_to "#{post.name}", post %></td>
	      </tr>
	  <% end %>
</table>
</table>
</div>

<div class="span2">
<table>
<tr><th>Currently talked about</th></tr>
<table class="table table-bordered table-condensed table-striped">	
	  <% @current_movies.each do |post| %>
	      <tr>
	        <td><%= link_to "#{post.name}", post %></td>
	      </tr>
	  <% end %>
</table>
</table>
</div>

<div class="span2">
<table>
<tr><th>Dampsquibs</th></tr>
<table class="table table-bordered table-condensed table-striped">	
	  <% @movies_dampsquibs.each do |post| %>
	      <tr>
	        <td><%= link_to "#{post.name}", post %></td>
	      </tr>
	  <% end %>
</table>
</table>
</div>