<style type="text/css">
    body {

        background-image: url(<%= backdrop_url_path(@movies_now_playing.to_a.sample[:tmdb_id]) %>);
        //background-repeat: space;
        //background-position: 100%;
        background-size: auto;
    }
</style>

<%
  title 'Dashboard: What Australia is watching'
%>

<table>
<caption><b>Now Playing</b></caption>
<% cache('movies_now_playing',:expires_in => 6.hours) do %>
<tr><td>
<div id="movies_now_playing" class="carousel slide" style="width: 400px; margin: 0 auto">
  <ol class="carousel-indicators">
    <li data-target="#movies_now_playing" data-slide-to="0" class="active"></li>
    <li data-target="#movies_now_playing" data-slide-to="1"></li>
    <li data-target="#movies_now_playing" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <% @movies_now_playing.each_with_index do |post,count| %>
      <% if count==0 %>
        <div class="active item"><%= link_to image_tag(poster_url_path(post[:tmdb_id])),controller: "movies", action: "create_from_tmdb", id: post[:tmdb_id] %></div>
      <% else %>
        <div class="item"><%= link_to image_tag(poster_url_path(post[:tmdb_id])),controller: "movies", action: "create_from_tmdb", id: post[:tmdb_id] %></div>
      <% end %>
    <% end %>
  </div>
  <a class="carousel-control left" href="#movies_now_playing" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#movies_now_playing" data-slide="next">&rsaquo;</a>
</div>
</td></tr>
<% end %>
</table>

<table>
<caption><b>Coming Soon</b></caption>
<% cache('movies_upcoming',:expires_in => 6.hours) do %>
<tr><td>
<div id="movies_upcoming" class="carousel slide" style="width: 400px; margin: 0 auto">
  <ol class="carousel-indicators">
    <li data-target="#movies_upcoming" data-slide-to="0" class="active"></li>
    <li data-target="#movies_upcoming" data-slide-to="1"></li>
    <li data-target="#movies_upcoming" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <% @movies_upcoming.each_with_index do |post,count| %>
      <% if count==0 %>
        <div class="active item"><%= link_to image_tag(poster_url_path(post[:tmdb_id])),controller: "movies", action: "create_from_tmdb", id: post[:tmdb_id] %></div>
      <% else %>
        <div class="item"><%= link_to image_tag(poster_url_path(post[:tmdb_id])),controller: "movies", action: "create_from_tmdb", id: post[:tmdb_id] %></div>
      <% end %>
    <% end %>
  </div>
  <a class="carousel-control left" href="#movies_upcoming" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#movies_upcoming" data-slide="next">&rsaquo;</a>
</div>
</td></tr>
<% end %>
</table>

<table>
<caption><b>Most Searched</b></caption>
<% cache('movies_popular',:expires_in => 6.hours) do %>
<tr><td>
<div id="movies_popular" class="carousel slide" style="width: 400px; margin: 0 auto">
  <ol class="carousel-indicators">
    <li data-target="#movies_popular" data-slide-to="0" class="active"></li>
    <li data-target="#movies_popular" data-slide-to="1"></li>
    <li data-target="#movies_popular" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <% @movies_popular.each_with_index do |post,count| %>
      <% if count==0 %>
        <div class="active item"><%= link_to image_tag(poster_url_path(post[:tmdb_id])),controller: "movies", action: "create_from_tmdb", id: post[:tmdb_id] %></div>
      <% else %>
        <div class="item"><%= link_to image_tag(poster_url_path(post[:tmdb_id])),controller: "movies", action: "create_from_tmdb", id: post[:tmdb_id] %></div>
      <% end %>
    <% end %>
  </div>
  <a class="carousel-control left" href="#movies_popular" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#movies_popular" data-slide="next">&rsaquo;</a>
</div>
</td></tr>
<% end %>
</table>