<div class="navbar-search">
  <div>
  <%= search_form_for @search do |f| %>
    <%= f.label :name_cont, "Search Movies" %>
    <%= f.text_field :name_cont,:class => "search-query" %>
    <div class="btn btn-inverse"><%= f.submit "Search" %></div>
  <% end %>

  <% if !@movie_results.empty? %>
  <table class="table table-striped">
  <tr>
    <th><%= sort_link @search,:name, "Name"  %></th>
  </tr>
  <% @movie_results.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td></i><%= link_to '', post, class: 'icon-arrow-right' %></td>
      </tr>
  <% end %>
  </table>
  </div>
<% end %>
</div>

<table class=" table table-bordered">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% @movies.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= link_to '', post, class: 'icon-arrow-right' %></td>
      </tr>
  <% end %>
<%= paginate @movies %>
</table>

