<%
  title 'Search: search a movie'
%>

<div class="span6">  
<div class="navbar-search">
  <%= search_form_for @search do |f| %>
  <table>
    <tr>
      <td>
        <%= f.text_field :name_cont,:class => "search-query" %>
        <%= f.submit "Search Movies",:class => "btn" %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          or see what Australia is <%= link_to "liking", controller: "movies", action: "dashboard" %>
        </strong>
      </td>
    </tr>
  </table>

<% end %>

<!--   <% if !@movie_results.empty? %>
  
  <table class="table table-bordered table-condensed table-striped">
    <caption><b>From movie pulse database</b></caption>
  <tr>
    <th><%= sort_link @search,:name, "Name"  %></th>
  </tr>
  <% @movies.each do |post| %>
      <tr>
        <td><%= link_to "#{post.name}", post %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Edit', edit_movie_path(post),:class => "btn btn-inverse" %></td>
        <% end %>
      </tr>
  <% end %>
  </table>
  <%= paginate @movies %>
  </div>
<% end %>
 -->
</div>


<% if !@tmdb_movie_results.empty? %>
<div class="span6">
  <table class="table table-bordered table-condensed table-striped">
    <caption><b>Did you mean</b></caption>
  <tr>
    <th><%= sort_link @search,:name, "Name"  %></th>
  </tr>
  <% @tmdb_movies.each do |post| %>
      <tr>
        <td>
          <%= link_to "#{post.title}",controller: "movies", action: "create_from_tmdb",id: post.id %>
        </td>
      </tr>
  <% end %>
  </table>
  <% end %>
  <%= paginate @tmdb_movies %>
  </div>
</div>
