    <div class="navbar-search">
      <div>
<%= search_form_for @search do |f| %>
    <%= f.label :name_cont, "Search Movies" %>
    <%= f.text_field :name_cont,:class => "search-query" %>
    <%= f.submit "Search" %>
<% end %>

<% if !@movie_results.nil? %>
<table class="table table-striped">
  <tr>
    <th><%= sort_link @search,:name, "Name"  %></th>
  </tr>
  <% @movie_results.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= link_to 'Show', post %></td>
      </tr>
  <% end %>
</table>
</div>
<% end %>
    </div>

<table class="table table-striped">
  <tr>
    <th>Name</th>

  </tr>

  <% @movies.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= link_to 'Show', post %></td>
      </tr>
  <% end %>
<%= paginate @movies %>
</table>


