<div class="navbar-search">
  <div>
  <%= search_form_for @search do |f| %>
    <%= f.text_field :name_cont,:class => "search-query" %>
    <div class="btn btn-inverse"><%= f.submit "Search Movies" %></div>
    <strong>
      or see what Australia is <%= link_to "liking", controller: "movies", action: "dashboard" %>
    </strong>
  <% end %>

  <% if !@movie_results.empty? %>
  <table class="table table-striped">
  <tr>
    <th><%= sort_link @search,:name, "Name"  %></th>
  </tr>
  <% @movie_results.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td></i><%= link_to '', post, class: 'icon-arrow-right' %></td>
      </tr>
  <% end %>
  </table>
  </div>
<% end %>
</div>

<% if @movie_results.empty? %>
  <table>
    <tr>
      <td>Did not find the movie? Would you like to 
        <%= link_to "add the movie", controller: "movies", action: "new" %></td>
    </tr>
  </table>
<% end %>


