<div class="navbar-search">
  <div>
  <%= search_form_for @search do |f| %>
    <%= f.text_field :name_cont,:class => "search-query" %>
    <div class="btn btn-inverse"><%= f.submit "Search Movies" %></div>
    <strong>
      or see what Australia is <%= link_to "liking", controller: "movies", action: "dashboard" %>
    </strong>
  <% end %>

  <% if !@movie_results.empty? %>
  <table class="table table-striped">
    <caption><b>From movie pulse database</b></caption>
  <tr>
    <th><%= sort_link @search,:name, "Name"  %></th>
  </tr>
  <% @movie_results.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td></i><%= link_to '', post, class: 'icon-arrow-right' %></td>
      </tr>
  <% end %>
  </table>
  </div>
<% end %>
</div>

<% if !@tmdb_movie_results.empty? %>
  <table class="table table-striped">
    <caption><b>If you are searching for one of these movies, you can add them to the movie pulse database</b></caption>
  <tr>
    <th><%= sort_link @search,:name, "Name"  %></th>
  </tr>
  <% @tmdb_movie_results.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        
        <td><div class="btn btn-inverse"><%= link_to "add the movie", controller: "movies", action: "create_from_tmdb",id: post.id %></div></td>
      
      </tr>
  <% end %>
  </table>
  </div>
<% end %>
</div>


