<table class=" table table-bordered table-condensed table-striped">
  <caption><b>Listing Reviews for Movie</b></caption>
  <td><%= image_tag(@movie.movie_url) if @movie.movie? %></td>
  <tr>
  <tr><td><b>Name: </b><%= @movie.name %></td></tr>
  <tr>
    <td>
        <b>Overall Movie rating: </b>
        <% if @average_movie_rating.nil? %>
          <b>Not enough ratings received</b>
        <% else %>
          <%= @average_movie_rating %>
        <% end %>
    </td>
  </tr>
  <tr><td><b>Release Date: </b><%= @movie.release %></td></tr>
  <tr><td><b>Actors: </b><%= @movie.actors %></td></tr>
  <tr><td><b>Director: </b><%= @movie.director %></td></tr>
  <tr><td><b>Music: </b><%= @movie.music %></td></tr>
  <tr><td><b>Description: </b><%= @movie.description %></td></tr>
  </tr>
</table>

<div>
  
</div>

<% count = 0 %>
<% @reviews.each do |post| %>
<table class="table table-bordered table-condensed table-striped">
  
  <tr><th>Name</th></tr>
  <tr><td><%= @users[count].email %></td></tr>
  <tr><th>Review</th></tr>
  <tr><td><%= post.review %></td></tr>
  <tr><th>Rating</th></tr>
  <tr><td><%= post.rating %></td></tr>
    <% if user_signed_in? %>
    <% if @users[count].email == current_user.email %>
      <tr><td>
        <div class="btn btn-inverse">
          <%= link_to "Edit", :controller => "reviews", :action => "edit", :id => post.id %>
        </div>
        <div class="btn btn-inverse">
          <%= link_to 'Destroy', post, :confirm => 'Are you sure?',:method => :delete %></td></tr>    
        </div>      
    <% end %>
  <% end %>
   <% count = count + 1 %>
<% end %>

</table>
<div class="btn btn-inverse">
<%= link_to "Add your Review", :controller => "reviews", :action => "new",:movie => @movie.id  %>
</div>
