<% if !@movie.movie_tagline.nil? %>
<%
  title @movie.name
%>
<% else %>
<%
  title @movie.name+':'+@movie.movie_tagline
%>
<% end %>
<div class="row-fluid">

<div class="span5">
<% cache("#{@movie.name}",:expires_in => 6.days) do %>  
<table>
  <tr>
      <td>
        <%= image_tag @movie.poster_url %>
    </td>
  </tr>
</table>  
</div>

<div class="span7">

<table class=" table table-bordered table-condensed table-striped">
  <caption><b>Listing Reviews for Movie</b></caption>
    <tr><td><b>Name:</b><%= @movie.name %></td></tr>
    <tr><td><b>Description: </b><%= @movie.movie_description %></td></tr>
  <tr><td><b>Tagline: </b><%= @movie.movie_tagline %></td></tr>
  <tr>
    <td>
        <b>Overall Movie rating: </b>
        <% if @average_movie_rating.nil? %>
          <%= @movie.movie_average_rating %> (TMDB community rating)
        <% else %>
          <%= @average_movie_rating %>
        <% end %>
    </td>
  </tr>
  <tr><td><b>Genres: </b><%= @movie.movie_genres %></td></tr>
  <tr><td><b>Release Date: </b><%= @movie.movie_au_release_date %></td></tr>
  <tr><td><b>Actors: </b><%= @movie.movie_cast %></td></tr>
  <tr><td><b>Production: </b><%= @movie.movie_production_companies %></td></tr>
  <tr><td><b>Runtime: </b><%= @movie.movie_runtime %> min</td></tr>
  <% if !@movie.trailer_url.empty? %>
  <tr><td><iframe width="290" height="200" src="<%= @movie.trailer_url %>" frameborder="0" allowfullscreen></iframe></td></tr>
  <% end %>
  </table>
<% end %>
<% count = 0 %>
<% @reviews.each do |post| %>
<table class="table table-bordered table-condensed table-striped">
  <tr><td><%= @users[count].username %> rates it <b><%= post.rating %></b> and says</td></tr>
  <tr><td><i>"<%= post.review %>"</i></td></tr>
    <% if user_signed_in? %>
    <% if @users[count].email == current_user.email %>
      <tr><td>
        <div class="btn">
          <%= link_to "Edit", :controller => "reviews", :action => "edit", :id => post.id %>
        </div>
        <div class="btn">
          <%= link_to 'Delete', post, :confirm => 'Are you sure?',:method => :delete %>
        </div>      
    <% end %>
  <% end %>
   <% count = count + 1 %>
<% end %>
<tr>
  <td>
    <div class="btn">
      <%= link_to "Add your Review", :controller => "reviews", :action => "new",:movie => @movie.id  %>
    </div>
  </td>
</tr>
      <% if admin_signed_in? %>
  <tr>  
        <td><%= link_to 'Edit Movie', edit_movie_path(@movie),:class => "btn btn-inverse" %></td>
  </tr>
      <% end %>
</table>
</div>

</div>  
