<h3><%= @movie.name %></h3>


 <%= form_for @review do |f| %>
 <%= render "shared/error_messages", :target => @review %>
   <%= f.label :rating, "Rate the movie" %>
   <%= f.select :rating,['1','2','3','4','5'] %>
   <%= f.label :review, "Your 140 character review" %>
   <%= f.text_area :review %>
   <%= f.submit "Fire", :disable_with => 'Submitting...',:class => "btn btn-inverse" %>
 <% end %>


