<h3>Your Reviews</h3>
<% @count =0 %>
<div>
	<table>
		<td>
			<tr><b>Movie</b></tr>
			<tr><b>Review</b></tr>
			<tr><b>Rating</b></tr>
		</td>
	</table>
</div> 
<% @reviews.each do |review| %>
	<div>
		<table>
		<td>
		<tr>
			<%= @movies[@count].name %>
		</tr>	
		</tr>
			<%= review.rating%>
		</tr>
		<tr>
			<%= review.review%>
		</tr>
		<tr>
			<%= link_to "edit", :controller => "reviews", :action => "edit", :id => review.id %>
			<%= link_to "destroy", :controller => "reviews", :action => "destroy", :id => review.id %>
		</tr>
		</td>
		</table>
	</div>
	<% @count = @count + 1 %>
<% end %>