<h3>Your Reviews</h3>
<% @count =0 %>

<table class=" table table-bordered table-condensed table-striped">
  <caption><b>Listing Reviews for User</b></caption>
<% @reviews.each do |review| %>
  <tr>
  	<td><b>Movie:</b><%= @movies[@count].name %></td>
  </tr>
  <tr>
  	<td><b>Rating:</b><%= review.rating%></td>
  </tr>
  <tr>
  	<td><b>Review:</b><%= review.review%></td>
  </tr>
  <tr>
  	<td>
        <div class="btn btn-inverse">
          <%= link_to "Edit", :controller => "reviews", :action => "edit", :id => review.id %>
        </div>
        <div class="btn btn-inverse">
          <%= link_to 'Destroy', review, :confirm => 'Are you sure?',:method => :delete %></td></tr>    
        </div>      
  	</td>
  </tr>
<% @count = @count + 1 %>
<% end %>
</table>
