<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Movie Pulse" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
    <script src="components/html5shiv/html5shiv.js"></script>
    <![endif]-->
    <style type="text/css">
      body { 
            //background: #2a333c;
          }
    </style>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
   
    <header class="navbar navbar-fixed-top navbar-inverse">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
    <div id="main" role="main">
      <div class="container-fluid">
        <div class="content">
           <div class="row">
            <div class="span10">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
            <div class="span2">
              <!--<%= google_adsense_include_tag client: 'ca-pub-2003857859925620', slot: '7152347448', width: '160', height: '600' %>
              <%= google_adsense_include_tag client: 'ca-pub-2003857859925620', slot: '2582547046', width: '300', height: '250' %>-->
            </div>
          </div>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </div>
  
  <div id="push"></div>
      </div>

    <div id="footer">
      <div class="container">
    <footer class="footer">
        <%= link_to "FAQ",controller: "/faqs",action: "index" %>
        <%= link_to "Terms" %>
        <%= link_to "Privacy" %>
        <%= link_to "Credits",controller: "/credits",action: "index" %>
        @2013 Movie Pulse
    </footer> 
      </div>
    </div>
    <%= render 'layouts/ga' if Rails.env.production? %>
  </body>
</html>