<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--title><%= content_for?(:title) ? yield(:title) : "Movie Pulse" %></title-->
    <title>Movie Pulse: <%= yield :title %></title>
    <meta name="description"><%= yield :description %></meta>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <script type="text/javascript">  
        (document).ready(function () {  
            $('.dropdown-toggle').dropdown();
        });  
   </script>  
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
    <script src="components/html5shiv/html5shiv.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <%= analytics_init if Rails.env.production? %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <!--header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header-->
    <!-- Part 1: Wrap all page content here -->
          <%= render 'layouts/navigation' %>

    <div id="wrap">
    <div id="main" role="main">
      <div class="container-fluid">
        <div class="content">
           <div class="row">
           <div class="span3"></div>
            <div class="span9">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
                        <!--div class="span3"-->
              <!--<%= google_adsense_include_tag client: 'ca-pub-2003857859925620', slot: '7152347448', width: '160', height: '600' %>
              <%= google_adsense_include_tag client: 'ca-pub-2003857859925620', slot: '2582547046', width: '300', height: '250' %>-->
            <!--/div-->

          </div>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </div>
  

  <!--div id="push"></div-->


    <!--div id="footer">
      <div class="container">
    <footer class="footer">
        <%= link_to "FAQ",controller: "/faqs",action: "index" %>
        <%= link_to "Terms", faqs_privacy_path %>
        <%= link_to "Privacy", faqs_privacy_path %>
        <%= link_to "Credits",controller: "/credits",action: "index" %>
        @2013 Movie Pulse
    </footer> 
      </div>
    </div-->
  </body>
</html>
